<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4" ng-controller="SignupController">
    <form ng-submit="submitSignupForm()" id="sign-up-form" name="signup">
      <h2>Signup</h2>
      <div class="row">

        <div class="control-group form-group col-md-12"
        ng-class="{'has-error':(signup.username.$invalid || signupForm.username_taken) && signup.username.$dirty}">
          <label>Username</label>

          <input type="text" class="form-control" name="username" ng-model="signupForm.username" required>

          <span class="help-block has-error" ng-if="signup.username.$dirty">
            <span ng-show="signup.username.$error.required">This is required.</span>
            <span ng-show="signupForm.username_taken">Username already registered</span>
          </span>
        </div>

        <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.first_name.$invalid && signup.first_name.$dirty}">
          <label>First name</label>

          <input type="text" class="form-control" name="first_name" ng-model="signupForm.first_name" required>

          <span class="help-block has-error" ng-if="signup.first_name.$dirty">
            <span ng-show="signup.first_name.$error.required">This is required.</span>
          </span>
        </div>

        <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.last_name.$invalid && signup.last_name.$dirty}">
          <label>Last name</label>

          <input type="text" class="form-control" name="last_name" ng-model="signupForm.last_name" required>

          <span class="help-block has-error" ng-if="signup.last_name.$dirty">
            <span ng-show="signup.last_name.$error.required">This is required.</span>
          </span>
        </div>

        <div class="control-group form-group col-md-12"
        ng-class="{'has-error':(signup.email.$invalid || signupForm.email_taken) &&
                              signup.email.$dirty}">
          <label>Email</label>
          <input type="email" class="form-control" name="email" ng-model="signupForm.email" required >
          <span class="help-block has-error" ng-if="signup.email.$dirty">
            <span ng-show="signup.email.$error.required">This is required.</span>
            <span ng-show="signup.email.$error.email">Not a valid email address.</span>
            <span ng-show="signupForm.email_taken">Email already registered</span>
          </span>
        </div>

        <div class="control-group form-group col-md-6"
        ng-class="{'has-error':signup.password.$invalid &&
                              signup.password.$dirty}">
          <label>Password</label>

          <input type="password" class="form-control" placeholder="at least 8 characters" name="password" ng-model="signupForm.password" id="password" required ng-minlength="8" compare-to="signupForm.confirmPassword" >
          <span class="help-block has-error" ng-if="signup.password.$dirty">
            <span ng-show="signup.password.$error.required">This is required.</span>
            <span ng-show="signup.password.$error.minlength">Password must be at least 8 characters.</span>
          </span>
        </div>


        <div class="control-group form-group col-md-6">
          <label>Confirm password</label>
          <input type="password" class="form-control" placeholder="one more time" name="confirmation" ng-model="signupForm.confirmPassword" required>
          <span class="help-block has-error" ng-if="signup.confirmation.$dirty">
            <span ng-show="signup.password.$error.compareTo">Password must match.</span>
            <span ng-show="signup.confirmation.$error.required">This is required.</span>
          </span>
        </div>
      </div>

      <br/>

      <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="signup.$invalid">
        <span ng-show="!signupForm.loading">Signup</span>
        <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
        <span ng-show="signupForm.loading">Please wait...</span>
      </button>

    </form>
    <hr>
    <div class="row">
      <span class="alert alert-success" ng-show="registered_successfully">Successfully registered! Please confirm your email.</span>
    </div>
  </div>
  <div class="col-md-4" ng-controller="LoginController">
    <h2>Login</h2>
    <form ng-submit="submitLoginForm()" id="login-form" name="login">
      <div class="control-group form-group col-md-12">
        <label>Username</label>

        <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
      </div>

      <div class="control-group form-group col-md-6">
        <label>Password</label>

        <input type="password" class="form-control" name="password" ng-model="loginForm.password" id="password" required>
      </div>

      <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="login.$invalid">
        <span ng-show="!loginForm.loading">Login</span>
        <span class="overlord-loading-spinner fa fa-spinner" ng-show="loginForm.loading" ></span>
        <span ng-show="loginForm.loading">Please wait...</span>
      </button>
    </form>
    <hr>
    <div class="row">
      <span class="alert alert-warning" ng-show="not_confirmed">Please confirm your email before logging in.</span>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row text-center">
  <a href="/auth/google" class="btn btn-large btn-primary">Login using Google</a>
</div>
